<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">

<head>
    <title>
        V2EX
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="private" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/my.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/codemirror.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/neo.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/select2.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <?php $this->need('Public/header');?>
    <div id="Wrapper">
        <div class="content">
            <div id="Leftbar"></div>
            <div id="Rightbar">
                <?php $this->need('Public/rightBar', $rightBarInfo);?>
            </div>
            <div id="Main">
                <div class="sep20"></div>
                <div class="box">
                    <div class="header">
                        <div style="float: left; display: inline-block; margin-right: 10px; margin-bottom: initial!important;"><img src="<?php echo PUBLIC_DIR; ?>/img/node/<?=$node_info['ename'];?>.png" border="0" align="default" width="auto" /></div>
                        <div class="fr f12"><span class="snow">主题总数</span> <strong class="gray"><?=$node_info['topic_count'];?></strong> <span class="snow">&nbsp;•&nbsp;</span> <a href="/favorite/node/300?t=1426670324">加入收藏</a></div><a href="/">V2EX</a> <span class="chevron">&nbsp;›&nbsp;</span>
                        <?=$node_info['name'];?>
                            <div class="sep10"></div>
                            <span class="f12 gray"><?=$node_info['about'];?></span>
                            <div class="sep10"></div>
                            <input type="button" class="super normal button" value="创建新主题" onclick="location.href = '/new/programmer';" />
                    </div>
                    <?=$page_link;?>
                    <?php if ($node_topic != ''): ?>
                        <div id="TopicsNode">
                            <?php foreach ($node_topic as $key => $value): ?>
                            <div class="cell from_90433 t_265788">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td width="48" valign="top" align="center">
                                            <a href="<?php echo $this->route->url('member/' . $value['author']); ?>"><img src="<?php echo PUBLIC_DIR; ?>/img/Changle.jpeg" class="avatar" border="0" align="default" /></a>
                                        </td>
                                        <td width="10"></td>
                                        <td width="auto" valign="middle"><span class="item_title"><a href="<?php echo $this->route->url('t/' . $value['id']); ?>#reply<?=$value['comment_count'];?>"><?=$value['title'];?></a></span>
                                            <div class="sep5"></div>
                                            <span class="small fade"><strong><a href="<?php echo $this->route->url('member/' . $value['author']); ?>"><?=$value['author'];?></a></strong>
                                            <?php if ($value['replied_at'] == '' || $value['replied_at'] == 0): ?>&nbsp; • &nbsp;<?=fadeTime($value['created_at']);?>&nbsp;
                                            <?php else: ?>
                                                &nbsp; • &nbsp;<?=fadeTime($value['replied_at']);?>&nbsp;
                                            <?php endif;?>
                                                <?php if ($value['last_reply_username'] != ''): ?>
                                                • &nbsp;最后回复来自
                                                <strong>
                                                    <a href="<?php echo $this->route->url('member/' . $value['last_reply_username']); ?>"><?=$value['last_reply_username'];?></a>
                                                </strong>
                                                <?php endif;?>
                                            </span>
                                        </td>
                                        <?php if ($value['comment_count'] != 0): ?>
                                        <td width="50" align="right" valign="middle">
                                            <a href="<?php echo $this->route->url('t/' . $value['id']); ?>#reply<?=$value['comment_count'];?>" class="count_livid">
                                                <?=$value['comment_count'];?>
                                            </a>
                                        </td>
                                        <?php endif;?>
                                    </tr>
                                </table>
                            </div>
                            <?php endforeach;?>
                        </div>
                    <?php endif;?>
                        <?=$page_link;?>
                            <div class="cell" align="center"><span class="gray">第 1 到 20 / 共 11305 个主题</span></div>
                </div>
                <div class="sep20"></div>
                <div class="box">
                    <div class="cell">
                        <form action="/new/programmer" method="post">
                            <input type="text" name="title" value="" class="sll" id="topic_title" placeholder="请输入主题标题，如果标题能够表达完整内容，则正文可以为空" />
                            <div class="sep10"></div>
                            <textarea name="content" class="mll" id="topic_content" placeholder="正文"></textarea>
                            <div class="sep10"></div>
                            <input type="hidden" value="29294" name="once" />
                            <input type="submit" value="创建新主题" class="super normal button" />
                        </form>
                    </div>
                    <div class="inner">
                        <div class="fr"><a href="/settings/ignore/node/300?once=29294">忽略这个节点</a> &nbsp; <span class="fade">被忽略的节点中的主题将不会在首页出现</span></div>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="c">
        </div>
        <div class="sep20"></div>
    </div>
    <?php $this->need('Public/footer');?>
    <script type="text/javascript">
    blocked = [];
    ignored_topics = [];
    $("#TopicsNode").children('.cell').each(function(index) {
        for (i in blocked) {
            if ($(this).hasClass('from_' + blocked[i])) {
                $(this).css('display', 'none');
            }
        }
        for (i in ignored_topics) {
            if ($(this).hasClass('t_' + ignored_topics[i])) {
                $(this).css('display', 'none');
            }
        }
    });
    </script>
    <script type="text/javascript">
    $("#topic_content").keydown(function(e) {
        if ((e.ctrlKey || e.metaKey) && e.which === 13) {
            e.preventDefault();
            $("#topic_content").parent().submit();
        }
    });
    $("#topic_title").keydown(function(e) {
        if ((e.ctrlKey || e.metaKey) && e.which === 13) {
            e.preventDefault();
            $("#topic_title").parent().submit();
        }
    });
    </script>
</body>

</html>
