<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">

<head>
    <title>
        V2EX
    </title>
    <meta charset="utf-8">
    <link href="<?php echo PUBLIC_DIR; ?>/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/my.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/selectboxit.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <?php $this->need('Public/header');?>
    <div id="Wrapper">
        <div class="content">
            <div id="Leftbar"></div>
            <div id="Rightbar">
                <?php $this->need('Public/rightBar', $rightBarInfo);?>
            </div>
            <div id="Main">
                <div class="sep20"></div>
                <div class="box">
                    <div class="header">
                        <div class="fr">
                            <input type="button" onclick="location.href = '/notes/new?folder_id=<?=$dir_id;?>';" class="super normal button" value="新建" style="margin: -4px -2px 0px 0px;" />
                        </div><a href="/">V2EX</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/notes">记事本</a> <span class="chevron">&nbsp;›&nbsp;</span> xxx</div>
                    <div class="note_item">
                        <div class="note_item_icon_arrow"></div>
                        <div class="note_item_title"><a href="/notes">返回上一层</a></div>
                    </div>
                    <?php if (empty($dir_note)): ?>
                    <div class="note_item"><span class="gray">这个文件夹是空的</span></div>
                    <?php else: ?>
                    <?php foreach ($dir_note as $key => $value): ?>
                    <div class="note_item">
                        <div class="note_item_info">
                            <?=$value['note_length'];?> 字符 &nbsp;·&nbsp;
                                <?=fadeTime($value['created_at']);?>
                        </div>
                        <div class="note_item_icon_note"></div>
                        <div class="note_item_title">
                            <a href="/notes/<?=$value['dir_id'];?>" class="black">
                                <?=$value['title'];?>
                            </a>
                            <?php if ($value['is_publish'] == 1): ?> &nbsp;
                            <a href="<?php echo $this->route->url('p/' . $value['note_uid']); ?>" target="_blank" class="gray">
                                <?=$value['note_uid'];?>
                            </a>
                            <?php endif;?>
                        </div>
                    </div>
                    <?php endforeach;?>
                    <?php endif;?>
                    <div class="cell_ops" style="text-align: right;">
                        <div class="fl">
                            <input type="button" class="super normal button" value="管理文件夹" onclick="location.href = '/notes/manage/<?=$dir_name;?>';" />
                        </div>
                        <input type="button" class="super normal button" value="删除文件夹" onclick="if (confirm('你确认要删除这个标题为 <?=$dir_name;?> 的文件夹吗？')) { location.href = '/notes/rmdir/<?=$dir_name;?>'; }" />
                    </div>
                </div>
            </div>
        </div>
        <div class="c"></div>
        <div class="sep20"></div>
    </div>
    <?php $this->need('Public/footer');?>
</body>

</html>
