<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">

<head>
    <title>V2EX</title>
    <meta charset="utf-8">
    <link href="<?php echo PUBLIC_DIR; ?>/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/my.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <?php $this->need('Public/header');?>
    <div id="Wrapper">
        <div class="content">
            <div id="Leftbar"></div>
            <div id="Rightbar">
                <?php $this->need('Public/rightBar', $rightBarInfo);?>
            </div>
            <div id="Main">
                <div class="sep20">
                </div>
                <div class="box">
                    <div class="inner" style="background-color: #fff; border-top-left-radius: 3px; border-top-right-radius: 3px;" id="Tabs">
                        <a href="/?tab=tech" class="tab_current">
                                技术
                            </a>
                    </div>
                    <div class="cell" style="background-color: #f9f9f9; padding: 10px 10px 10px 20px;">
                        <a href="/go/programmer">
                                程序员
                            </a> &nbsp; &nbsp;
                    </div>
                    <?php foreach ($topic as $key => $value): ?>
                    <div class="cell item" style="">
                        <div style="position: absolute; margin: -10px -10px 0px 650px;">
                        </div>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td width="48" valign="top" align="center">
                                        <a href="/member/nyfwan123">
                                                <img src="<?php echo PUBLIC_DIR; ?>/img/Changle.jpeg" class="avatar" border="0" align="default" />
                                            </a>
                                    </td>
                                    <td width="10">
                                    </td>
                                    <td width="auto" valign="middle">
                                        <span class="item_title">
                                                <a href="<?php echo $this->route->url('t/' . $value['id']); ?>"><?=$value['title'];?></a>
                                            </span>
                                        <div class="sep5">
                                        </div>
                                        <span class="small fade">
                                                <div class="votes">
                                                </div>
                                                <a class="node" href="/go/programmer">
                                                    程序员
                                                </a>
                                                &nbsp;•&nbsp;
                                                <strong>
                                                    <a href="<?php echo $this->route->url('member/' . $value['author']); ?>"><?=$value['author'];?></a>
                                                </strong>
                                            <?php if ($value['replied_at'] == '' || $value['replied_at'] == 0): ?>
                                                &nbsp;•&nbsp; <?=fadeTime($value['created_at']);?> &nbsp;
                                            <?php else: ?>
                                                &nbsp;•&nbsp; <?=fadeTime($value['replied_at']);?> &nbsp;
                                            <?php endif;?>
                                                <?php if (isset($value['last_reply_name'])): ?>
                                                •&nbsp;最后回复来自
                                                <strong>
                                                    <a href="<?php echo $this->route->url('member/' . $value['last_reply_name']); ?>"><?=$value['last_reply_name'];?></a>
                                                </strong>
                                                <?php endif;?>
                                            </span>
                                    </td>
                                    <?php if ($value['comment_count'] != 0): ?>
                                    <td width="70" align="right" valign="middle">
                                        <a href="/t/247454#reply7" class="count_livid">
                                            <?=$value['comment_count'];?>
                                        </a>
                                    </td>
                                    <?php endif;?>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <?php endforeach;?>
                    <div class="inner">
                        <div class="fr">
                            <a href="/feed/tab/tech.xml" target="_blank">
                                    <img src="<?php echo PUBLIC_DIR; ?>/img/rss.png" align="absmiddle" style="margin-top:-3px;"
                                    border="0" />
                                </a> &nbsp;
                            <a href="/feed/tab/tech.xml" target="_blank">
                                    通过 Atom Feed 订阅
                                </a>
                        </div>
                        <span class="chevron">
                                →
                            </span>
                        <a href="/recent">
                                更多新主题
                            </a>
                    </div>
                </div>
                <div class="sep20">
                </div>
                <div class="box">
                    <div class="cell">
                        <div class="fr">
                            <a href="/planes">
                                    浏览全部节点
                                </a>
                        </div>
                        <span class="fade">
                                <strong>
                                    V2EX
                                </strong>
                                / 节点导航
                            </span>
                    </div>
                    <div class="cell">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                    <td align="right" width="60">
                                        <span class="fade">
                                                城市
                                            </span>
                                    </td>
                                    <td style="line-height: 200%; padding-left: 10px; word-break: keep-all;">
                                        <a href="/go/shantou" style="font-size: 14px;">
                                                汕头
                                            </a> &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="inner">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                    <td align="right" width="60">
                                        <span class="fade">
                                                品牌
                                            </span>
                                    </td>
                                    <td style="line-height: 200%; padding-left: 10px; word-break: keep-all;">
                                        <a href="/go/changle" style="font-size: 14px;">
                                                CHANGLE
                                            </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="c">
        </div>
        <div class="sep20">
        </div>
    </div>
    <?php $this->need('Public/footer');?>
</body>

</html>
