<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">

<head>
    <title>
        V2EX
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="private" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/my.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/codemirror.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/neo.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/select2.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <?php $this->need('Public/header');?>
    <div id="Wrapper">
        <div class="content">
            <div id="Leftbar"></div>
            <div id="Rightbar">
                <div class="sep20"></div>
                <div class="box">
                    <div class="cell"><img src="<?php echo PUBLIC_DIR; ?>/img/neue_comment.png" width="18" align="absmiddle" /> &nbsp;changlers 最近的时间轴更新</div>
                    <div id="statuses">
                    </div>
                </div>
                <div class="sep20"></div>
            </div>
            <div id="Main">
                <div class="sep20"></div>
                <div class="box">
                    <div class="cell">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td width="73" valign="top" align="center"><img src="//cdn.v2ex.co/gravatar/d43602b3fc54c761def75893e37ed6fc?s=73&d=retro" class="avatar" border="0" align="default" />
                                    <div class="sep10"></div><strong class="online">ONLINE</strong></td>
                                <td width="10"></td>
                                <td width="auto" valign="top" align="left">
                                    <div class="fr">
                                    </div>
                                    <h1 style="margin-bottom: 5px;">changlers</h1>
                                    <div class="sep10"></div>
                                    <span class="gray"><li class="fa fa-time"></li> &nbsp; V2EX 第 105350 号会员，加入于 2015-03-18 17:18:44 +08:00，今日活跃度排名 <a href="/top/dau">737</a></span>
                                </td>
                            </tr>
                        </table>
                        <div class="sep5"></div>
                    </div>
                    <div class="cell markdown_body">
                    </div>
                </div>
                <div class="sep20"></div>
                <div class="box">
                    <div class="cell_tabs">
                        <div class="fl"><img src="//cdn.v2ex.co/gravatar/d43602b3fc54c761def75893e37ed6fc?s=48&d=retro" width="24" style="border-radius: 24px; margin-top: -2px;" border="0" /></div><a href="/member/changlers" class="cell_tab_current">changlers 创建的所有主题</a><a href="/member/changlers/qna" class="cell_tab">提问</a><a href="/member/changlers/tech" class="cell_tab">技术话题</a><a href="/member/changlers/play" class="cell_tab">好玩</a><a href="/member/changlers/jobs" class="cell_tab">工作信息</a><a href="/member/changlers/deals" class="cell_tab">交易信息</a><a href="/member/changlers/city" class="cell_tab">城市相关</a></div>
                </div>
                <div class="sep20"></div>
                <div class="box">
                    <div class="cell"><span class="gray">changlers 最近回复了</span></div>
                    <div class="dock_area">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td style="padding: 10px 15px 8px 15px; font-size: 12px; text-align: left;">
                                    <div class="fr"><span class="fade">10 天前</span></div><span class="gray">回复了 dongin 创建的主题 <span class="chevron">›</span> <a href="/t/261589#reply3">程序员：一个践行思想品德的职业</a></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"><img src="<?php echo PUBLIC_DIR; ?>/img/arrow.png" style="margin-left: 20px;" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="inner">
                        <div class="reply_content">多少后门程序木马病毒不是程序员搞出来的，还有很多不一一列举了</div>
                    </div>
                    <div class="dock_area">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td style="padding: 10px 15px 8px 15px; font-size: 12px; text-align: left;">
                                    <div class="fr"><span class="fade">28 天前</span></div><span class="gray">回复了 yumijie 创建的主题 <span class="chevron">›</span> <a href="/t/257331#reply28">PHP 怎样去除中间字符串</a></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"><img src="<?php echo PUBLIC_DIR; ?>/img/arrow.png" style="margin-left: 20px;" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="inner">
                        <div class="reply_content">preg_replace('/T[0-9:]+Z/i','',$object);</div>
                    </div>
                    <div class="dock_area">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td style="padding: 10px 15px 8px 15px; font-size: 12px; text-align: left;">
                                    <div class="fr"><span class="fade">50 天前</span></div><span class="gray">回复了 taozimiao 创建的主题 <span class="chevron">›</span> <a href="/t/253792#reply251">智筹定制充电宝任性送～你们高兴就好</a></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"><img src="<?php echo PUBLIC_DIR; ?>/img/arrow.png" style="margin-left: 20px;" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="cell">
                        <div class="reply_content">我来组成分母 2333</div>
                    </div>
                    <div class="inner"><span class="chevron">»</span> <a href="/member/changlers/replies">changlers 创建的更多回复</a></div>
                </div>
            </div>
        </div>
        <div class="c">
        </div>
        <div class="sep20"></div>
    </div>
    <?php $this->need('Public/footer');?>
</body>

</html>
