<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">

<head>
    <title>
        V2EX
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="private" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/my.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/codemirror.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/neo.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/select2.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <?php $this->need('Public/header');?>
    <div id="Wrapper">
        <div class="content">
            <div id="Leftbar"></div>
            <div id="Rightbar">
                <div class="sep20"></div>
                <div class="box">
                    <div class="cell"><img src="<?php echo PUBLIC_DIR; ?>/img/neue_comment.png" width="18" align="absmiddle" /> &nbsp;
                        <?=$username;?> 最近的时间轴更新</div>
                    <div id="statuses">
                    </div>
                </div>
                <div class="sep20"></div>
            </div>
            <div id="Main">
                <div class="sep20"></div>
                <div class="box">
                    <div class="cell">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td width="73" valign="top" align="center"><img src="<?php echo ($use_avatar) ? PUBLIC_DIR . '/img/avatar/' . $user_id . '_large.png' : PUBLIC_DIR . '/img/default_big.jpeg'; ?>" class="avatar" border="0" align="default" />
                                    <div class="sep10"></div><strong class="online">ONLINE</strong></td>
                                <td width="10"></td>
                                <td width="auto" valign="top" align="left">
                                    <div class="fr">
                                        <?php if ($is_follow): ?>
                                        <input type="button" value="取消特别关注" onclick="location.href = '/unfollow/<?=$username;?>';" class="super inverse button">
                                        <?php else: ?>
                                        <input type="button" value="加入特别关注" onclick="location.href = '/follow/<?=$username;?>';" class="super special button">
                                        <?php endif;?>
                                        <div class="sep10"></div>
                                        <input type="button" value="Block" onclick="if (confirm('确认要屏蔽 <?=$username;?>？')) { location.href = '/block/<?=$username;?>'; }" class="super normal button">
                                    </div>
                                    <h1 style="margin-bottom: 5px;"><?=$username;?></h1>
                                    <span class="bigger"><?=$user_setting['signature'];?></span>
                                    <?php if (!empty($user_setting['company'])): ?>
                                    <div class="sep10"></div>
                                    <span><li class="fa fa-building"></li> &nbsp; <strong><?=$user_setting['company'];?></strong><?php echo empty($user_setting['job']) ? '' : ' /  ' . $user_setting['job']; ?></span>
                                    <?php endif;?>
                                    <div class="sep10"></div>
                                    <span class="gray"><li class="fa fa-time"></li> &nbsp; V2EX 第 <?=$user_setting['position'];?> 号会员，加入于 <?=date('Y-m-d H:i:s', $user_setting['created_at']);?> +08:00
                                    <?php if (empty($user_rank) || $user_rank == 0): ?>
                                        <a href="/top/dau">该用户今日未有活跃度记录</a>
                                    <?php else: ?>
                                    ，今日活跃度排名 <a href="/top/dau"><?=$user_rank;?></a>
                                    <?php endif;?>
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <div class="sep5"></div>
                    </div>
                    <div class="cell markdown_body">
                        <?php if (!empty($user_setting['website'])): ?>
                        <a href="http://v2ex.ml" class="social_label" target="_blank" rel="nofollow"><img src="<?php echo PUBLIC_DIR; ?>/img/social_home.png" width="24" alt="Website" align="absmiddle"> &nbsp;v2ex.ml</a>
                        <?php endif;?>
                        <?php if (!empty($user_setting['location'])): ?>
                        <a href="http://www.google.com/maps?q=汕头" class="social_label" target="_blank" rel="nofollow"><img src="<?php echo PUBLIC_DIR; ?>/img/social_geo.png" width="24" alt="Geo" align="absmiddle"> &nbsp;汕头</a>
                        <?php endif;?>
                    </div>
                    <?php if (!empty($user_setting['introduction'])): ?>
                    <div class="cell">
                        <?=$user_setting['introduction'];?>
                    </div>
                    <?php endif;?>
                </div>
                <div class="sep20"></div>
                <div class="box">
                    <div class="cell_tabs">
                        <div class="fl"><img src="<?php echo ($use_avatar) ? PUBLIC_DIR . '/img/avatar/' . $user_id . '_large.png' : PUBLIC_DIR . '/img/default_small.jpeg'; ?>" width="24" style="border-radius: 24px; margin-top: -2px;" border="0" /></div>
                        <a href="/member/<?=$username;?>" class="cell_tab_current">
                            <?=$username;?> 创建的所有主题</a><a href="/member/<?=$username;?>/qna" class="cell_tab">提问</a><a href="/member/<?=$username;?>/tech" class="cell_tab">技术话题</a><a href="/member/<?=$username;?>/play" class="cell_tab">好玩</a><a href="/member/<?=$username;?>/jobs" class="cell_tab">工作信息</a><a href="/member/<?=$username;?>/deals" class="cell_tab">交易信息</a><a href="/member/<?=$username;?>/city" class="cell_tab">城市相关</a></div>
                    <?php if (count($recent_topics) > 0): ?>
                    <?php foreach ($recent_topics as $key => $value): ?>
                    <div class="cell item" style="border-top-left-radius: 3px; border-top-right-radius: 3px;">
                        <div style="position: absolute; margin: -10px -10px 0px 650px;"></div>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td width="auto" valign="middle"><span class="item_title"><a href="/t/<?=$value['id'];?>#reply<?=$value['comment_count'];?>"><?=$value['title'];?></a></span>
                                        <div class="sep5"></div>
                                        <span class="small fade"><div class="votes"></div><a class="node" href="/go/programmer">程序员</a> &nbsp;•&nbsp; <strong><a href="<?php echo $this->route->url('member/' . $value['author']); ?>"><?=$value['author'];?></a></strong><?php if ($value['replied_at'] == '' || $value['replied_at'] == 0): ?>&nbsp; • &nbsp;<?=fadeTime($value['created_at']);?>&nbsp;
                                            <?php else: ?>
                                                &nbsp; • &nbsp;<?=fadeTime($value['replied_at']);?>&nbsp;
                                            <?php endif;?>
                                                <?php if (isset($value['last_reply_username']) && $value['last_reply_username']): ?>
                                                • &nbsp;最后回复来自
                                                <strong>
                                                    <a href="<?php echo $this->route->url('member/' . $value['last_reply_username']); ?>"><?=$value['last_reply_username'];?></a>
                                                </strong>
                                                <?php endif;?>
                                                </span>
                                    </td>
                                    <td width="70" align="right" valign="middle">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <?php endforeach;?>
                    <div class="inner"><span class="chevron">»</span>
                        <a href="/member/<?=$username;?>/topics">
                            <?=$username;?> 创建的更多主题</a>
                    </div>
                    <?php endif;?>
                </div>
                <div class="sep20"></div>
                <?php if (count($recent_comments) > 0): ?>
                <div class="box">
                    <div class="cell"><span class="gray"><?=$username;?> 最近回复了</span></div>
                    <?php foreach ($recent_comments as $key => $value): ?>
                    <div class="dock_area">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td style="padding: 10px 15px 8px 15px; font-size: 12px; text-align: left;">
                                    <div class="fr"><span class="fade"><?=fadeTime($value['created_at']);?></span></div><span class="gray">回复了 <?=$value['author'];?> 创建的主题 <span class="chevron">›</span>
                                    <a href="<?php echo $this->route->url('t/' . $value['topic_id']); ?>#reply<?=$value['comment_count'];?>">
                                        <?=$value['title'];?>
                                    </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"><img src="<?php echo PUBLIC_DIR; ?>/img/arrow.png" style="margin-left: 20px;" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="<?php echo $key == $comment_last_key ? 'cell' : 'inner'; ?>">
                        <div class="reply_content">
                            <?=$value['content'];?>
                        </div>
                    </div>
                    <?php endforeach;?>
                    <div class="inner"><span class="chevron">»</span>
                        <a href="/member/<?=$username;?>/replies">
                            <?=$username;?> 创建的更多回复</a>
                    </div>
                </div>
                <?php endif;?>
            </div>
        </div>
        <div class="c">
        </div>
        <div class="sep20"></div>
    </div>
    <?php $this->need('Public/footer');?>
</body>

</html>
