<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">

<head>
    <title>
        V2EX
    </title>
    <meta charset="utf-8">
    <link href="<?php echo PUBLIC_DIR; ?>/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/my.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo PUBLIC_DIR; ?>/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <?php $this->need('Public/header');?>
    <div id="Wrapper">
        <div class="content">
            <div id="Leftbar">
            </div>
            <div id="Rightbar">
                <?php $this->need('Public/rightBar', $rightBarInfo);?>
            </div>
            <div id="Main">
                <div class="sep20">
                </div>
                <div class="box" style="border-bottom: 0px;">
                    <div class="header">
                        <div class="fr">
                            <a data-id="<?=$topic['user_id'];?>" href="/member/<?=$topic['author'];?>"><img src="<?php echo PUBLIC_DIR ?>/img/Changle.jpeg" class="avatar" border="0" align="default" /></a>
                        </div>
                        <a href="/">V2EX</a>
                        <span class="chevron">&nbsp;›&nbsp;</span>
                        <a href="/go/programmer">程序员</a>
                        <div class="sep10"></div>
                        <h1><?=$topic['title'];?></h1>
                        <div id="topic_<?=$topic['id'];?>_votes" class="votes">
                            <a href="javascript:" onclick="upVoteTopic(<?=$topic['id'];?>);" class="vote">
                                <li class="fa fa-chevron-up"></li>
                            </a>&nbsp;
                            <a href="javascript:" onclick="downVoteTopic(<?=$topic['id'];?>);" class="vote">
                                <li class="fa fa-chevron-down"></li>
                            </a>
                        </div>
                        &nbsp;
                        <small class="gray">
                                <a data-id="<?=$topic['user_id'];?>" href="/member/<?=$topic['author'];?>"><?=$topic['author'];?></a>
                                · <?=fadeTime($topic['created_at']);?>
                                <?php if ($topic['client'] == 'Android' || $topic['client'] == 'iphone'): ?>
                                用 <?=$topic['client'];?> 发布
                                <?php endif;?>
                                · <?=$topic['hits'];?> 次点击 &nbsp;
                            </small>
                    </div>
                    <?php if (trim($topic['content']) != ''): ?>
                    <div class="cell">
                        <div class="topic_content">
                            <?=$topic['content'];?>
                        </div>
                    </div>
                    <?php endif;?>
                    <div class="topic_buttons">
                        <div class="fr gray f11" style="line-height: 12px; padding-top: 3px; text-shadow: 0px 1px 0px #fff;">
                            <?=$topic['hits'];?> 次点击 &nbsp;
                        </div>
                        <a href="/favorite/topic/248521?t=gorpqfesvvjfgtcjfutdwbhiqftspifx" class="tb">
                                加入收藏
                            </a> &nbsp;
                        <a href="javascript:;" onclick="window.open('https://twitter.com/share?url=<?php echo $this->route->url('t/' . $topic['id']); ?>?r\u003D<?=rcookie('NA');?>&related=v2ex&hashtags=programmer&text=<?=$topic['title'];?>', '_blank', 'width=550,height=370'); recordOutboundLink(this, 'Share', 'twitter.com');" class="tb">
                                Tweet
                            </a> &nbsp;
                        <a href="javascript:;" onclick="window.open('http://service.weibo.com/share/share.php?url=<?php echo $this->route->url('t/' . $topic['id']); ?>?r\u003D<?=rcookie('NA');?>&title=V2EX%20-%20<?=$topic['title'];?>', '_blank', 'width=550,height=370'); recordOutboundLink(this, 'Share', 'weibo.com');" class="tb">
                                Weibo
                            </a> &nbsp;
                        <a href="javascript:;" onclick="if (confirm('确定不想再看到这个主题？')) { location.href = '/ignore/topic/248521?once=88529'; }" class="tb">
                                忽略主题
                            </a> &nbsp;
                        <div id="topic_thank">
                            <a href="javascript:;" onclick="if (confirm('你确定要向本主题创建者发送谢意？')) { thankTopic('<?=$topic['author'];?>', '<?=$topic['id'];?>'); }" class="tb">
                                    感谢
                                </a>
                        </div>
                    </div>
                </div>
                <div class="sep20">
                </div>
                <?php if ($topic['comment_count'] == 0): ?>
                <div class="box transparent">
                    <div class="inner" style="text-align: center">
                        <span style="color: rgba(0, 0, 0, 0.25);">目前尚无回复</span>
                    </div>
                </div>
                <?php endif;?>
                <?php if (count($topic_tags) > 0 && $topic['comment_count'] == 0): ?>
                <div class="sep20"></div>
                <div class="box">
                    <div class="inner">
                        <?php foreach ($topic_tags as $key => $value): ?>
                        <a href="/tag/<?=$value['name'];?>" class="tag">
                            <?=$value['name'];?>
                        </a>
                        <?php endforeach;?>
                    </div>
                </div>
                <?php endif;?>
                <?php if ($topic['comment_count'] > 0): ?>
                <div class="box">
                    <div class="cell">
                        <?php endif;?>
                        <?php if (count($topic_tags) > 0 && $topic['comment_count'] > 0): ?>
                        <div class="fr" style="margin: -3px -5px 0px 0px;">
                            <?php foreach ($topic_tags as $key => $value): ?>
                            <a href="/tag/<?=$value['name'];?>" class="tag">
                                <li class="fa icon-tag"></li>
                                <?=$value['name'];?>
                            </a>
                            <?php endforeach;?>
                        </div>
                        <?php endif;?>
                        <?php if ($topic['comment_count'] > 0): ?>
                        <span class="gray">
                                <?=$topic['comment_count'];?> 回复 &nbsp;
                                <strong class="snow">
                                    |
                                </strong>
                                &nbsp;直到 <?=date('Y-m-d H:i:s', $topic['replied_at']);?> +08:00
                            </span>
                    </div>
                    <?php if ($page_rows > 1): ?>
                    <?=$page_link;?>
                    <?php endif;?>
                    <?php foreach ($comment as $key => $value): ?>
                    <div id="r_2445799" class="cell">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td width="48" valign="top" align="center">
                                        <img src="<?php echo PUBLIC_DIR; ?>/img/Changle.jpeg" class="avatar" border="0" align="default">
                                    </td>
                                    <td width="10" valign="top"></td>
                                    <td width="auto" valign="top" align="left">
                                        <div class="fr">
                                            <div id="thank_area_2445799" class="thank_area">
                                                <a href="javascript:;" onclick="if (confirm('确认要不再显示来自 @<?=$value['username'];?> 的这条回复？')) { ignoreReply(2445799, '95308'); }" class="thank" style="color: #ccc;">隐藏</a> &nbsp; &nbsp; &nbsp;
                                                <a href="javascript:;" onclick="if (confirm('确认花费 10 个铜币向 @<?=$value['username'];?> 的这条回复发送感谢？')) { thankReply('<?=$value['username'];?>', '<?=$topic['id'];?>'); }" class="thank">
                                                        感谢回复者
                                                    </a>
                                            </div>
                                            &nbsp;
                                            <a href="javascript:;" onclick="replyOne('<?=$value['username'];?>');"><img src="<?php echo PUBLIC_DIR; ?>/img/reply.png" align="absmiddle" border="0" alt="Reply"></a> &nbsp;&nbsp;
                                            <span class="no"><?=$value['position'];?></span>
                                        </div>
                                        <div class="sep3"></div>
                                        <strong>
                                                <a href="/member/<?=$value['username'];?>" class="dark"><?=$value['username'];?></a>
                                            </strong> &nbsp; &nbsp;
                                        <span class="fade small"><?=fadeTime($value['created_at']);?></span>
                                        <div class="sep5"></div>
                                        <div class="reply_content">
                                            <?=$value['content'];?>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <?php endforeach;?>
                    <?php if ($page_rows > 1): ?>
                    <?=$page_link;?>
                    <?php endif;?>
                </div>
                <?php endif;?>
                <?php if (rcookie('NA') != ''): ?>
                <div class="sep20">
                </div>
                <div class="box">
                    <div class="cell">
                        <div class="fr">
                            <a href="#">
                                <strong>
                                        ↑
                                    </strong> 回到顶部
                            </a>
                        </div>
                        添加一条新回复
                    </div>
                    <div class="cell">
                        <form method="post" action="<?php echo $this->route->url('t/' . $topic['id']); ?>">
                            <textarea name="content" maxlength="10000" class="mll" id="reply_content" style="overflow: hidden; word-wrap: break-word; resize: none; height: 112px;"></textarea>
                            <div class="sep10">
                            </div>
                            <div class="fr">
                                <div class="sep5">
                                </div>
                                <span class="gray">
                                        请尽量让自己的回复能够对别人有帮助
                                    </span>
                            </div>
                            <input type="hidden" value="88529" name="once" />
                            <input type="submit" value="回复" class="super normal button" />
                        </form>
                    </div>
                    <div class="inner">
                        <div class="fr">
                            <a href="/">
                                    ← V2EX
                                </a>
                        </div>
                        &nbsp;
                    </div>
                </div>
                <div class="sep20">
                </div>
                <div class="box">
                    <div class="inner">
                        <div class="fr">
                        </div>
                        <a href="javascript:;" onclick="if (confirm('你确认需要报告这个主题？')) { location.href = '/report/topic/248521?t=1426670324'; }">
                                报告这个主题
                            </a> &nbsp;
                    </div>
                </div>
                <?php endif;?>
            </div>
        </div>
        <div class="c">
        </div>
        <div class="sep20"></div>
    </div>
    <?php $this->need('Public/footer');?>
    <script type="text/javascript" src="<?php echo PUBLIC_DIR; ?>/js/v2ex.js"></script>
    <script type="text/javascript" src="<?php echo PUBLIC_DIR; ?>/js/reply.js"></script>
</body>

</html>
