<td width="auto" align="left">
    <select name="font" id="fonts" style="width: 322px;">
        <option value="Avenir">Avenir</option>
        <option value="Avenir Next" selected="selected">Avenir Next</option>
        <option value="Helvetica">Helvetica</option>
        <option value="Helvetica Neue">Helvetica Neue</option>
        <option value="Lucida Grande">Lucida Grande</option>
        <option value="Myriad Pro">Myriad Pro</option>
        <option value="Segoe UI">Segoe UI</option>
        <option value="Comic Sans MS">Comic Sans MS</option>
        <option value="Menlo">Menlo</option>
        <option value="Panic Sans">Panic Sans</option>
    </select> &nbsp; <span class="gray"></span></td>
