<div id="Bottom">
    <div class="content">
        <div class="inner">
            <div class="sep10">
            </div>
            <div class="fr">
                <a href="https://www.digitalocean.com/?refcode=1b51f1a7651d" target="_blank">
                    <img src="<?php echo PUBLIC_DIR; ?>/img/do.png" width="64" border="0"
                    alt="DigitalOcean" />
                </a>
            </div>
            <strong>
                <a href="/start" class="dark" target="_blank">
                    上网首页
                </a>
                &nbsp;
                <span class="snow">
                    &middot;
                </span>
                &nbsp; 1 人在线
            </strong>
            &nbsp;
            <span class="fade">
                最高记录 1
            </span>
            &nbsp;
            <span class="snow">
                &middot;
            </span>
            &nbsp;
            <a href="/select/language">
                <img src="<?php echo PUBLIC_DIR; ?>/img/zhcn.png" align="absmiddle" border="0"
                width="20" alt="" />
            </a>
            <div class="sep20">
            </div>
            x工作者们的社区
            <div class="sep5">
            </div>
            World is powered by Changle
            <div class="sep20">
            </div>
            <span class="small fade">
                VERSION: 3.9.3 &middot; 32ms &middot; UTC 14:07 &middot; PVG 22:07 &middot;
                LAX 06:07 &middot; JFK 09:07
                <br />
                ♥ Do have faith in what you're doing.
            </span>
            <div class="sep20">
            </div>
            <span class="f12 gray">
                <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">
                    fuck by Kotori-Framework
                </a>
            </span>
            <div class="sep10">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="<?php echo PUBLIC_DIR; ?>/js/jquery.min.js"></script>