<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_dribbble.png" width="24" align="absmiddle" />&nbsp; Dribbble</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="dribbble" value="" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_duolingo.png" width="24" align="absmiddle" />&nbsp; Duolingo</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="member_duolingo" value="" maxlength="24" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_aboutme.png" width="24" align="absmiddle" />&nbsp; About.me</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="member_aboutme" value="" maxlength="24" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_lastfm.png" width="24" align="absmiddle" />&nbsp; Last.fm</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="member_lastfm" value="" maxlength="24" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_goodreads.png" width="24" align="absmiddle" />&nbsp; Goodreads</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="member_goodreads" value="" maxlength="24" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_github.png" width="24" align="absmiddle" />&nbsp; GitHub</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="github" value="" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_ps.png" width="24" align="absmiddle" />&nbsp; PSN ID</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="psn" value="" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_steam.png" width="24" align="absmiddle" />&nbsp; Steam ID</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="steam" value="" maxlength="16" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_twitch.png" width="24" align="absmiddle" />&nbsp; Twitch</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="twitch" value="" maxlength="25" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_bn.png" width="24" align="absmiddle" />&nbsp; BattleTag</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="battletag" value="" maxlength="32" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_instagram.png" width="24" align="absmiddle" />&nbsp; Instagram</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="instagram" value="" maxlength="16" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_telegram.png" width="24" align="absmiddle" />&nbsp; <a href="https://telegram.org/" target="_blank">Telegram</a></td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="telegram" value="" maxlength="32" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_twitter.png" width="24" align="absmiddle" />&nbsp; Twitter</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="twitter" value="" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_btc.png" width="24" align="absmiddle" />&nbsp; BTC Address</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="btc" value="" autocomplete="off" />
    </td>
</tr>
<tr>
    <td width="120" align="right"><img src="<?php echo PUBLIC_DIR; ?>/img/social_coding.png" width="24" align="absmiddle" />&nbsp; Coding.net</td>
    <td width="auto" align="left">
        <input type="text" class="sl" name="social_coding" value="" autocomplete="off" maxlength="16" />
    </td>
</tr>
